<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>UltraBlack Italic</string>
      <string>glyphs.UltraBlack Italic</string>
    </array>
    <array>
      <string>Synth iREG-wt500_wd400</string>
      <string>glyphs.S_ynth iR_E_G_-wt500_wd400</string>
    </array>
    <array>
      <string>UltraLight Italic</string>
      <string>glyphs.UltraLight Italic</string>
    </array>
    <array>
      <string>Synth iXCN-wd500_wd0</string>
      <string>glyphs.Synth iXCN-wd500_wd0</string>
    </array>
    <array>
      <string>ExtraExtended SemiBold Italic</string>
      <string>glyphs.ExtraExtended SemiBold Italic</string>
    </array>
  </array>
</plist>
