<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>UltraBlack</string>
      <string>glyphs.UltraBlack</string>
    </array>
    <array>
      <string>Synth REG-wt500_wd400</string>
      <string>glyphs.S_ynth R_E_G_-wt500_wd400</string>
    </array>
    <array>
      <string>UltraLight</string>
      <string>glyphs.UltraLight</string>
    </array>
    <array>
      <string>Synth XCN-wd500_wd0</string>
      <string>glyphs.Synth XCN-wd500_wd0</string>
    </array>
    <array>
      <string>ExtraExtended SemiBold</string>
      <string>glyphs.ExtraExtended SemiBold</string>
    </array>
  </array>
</plist>
