<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>b.superior</key>
    <string>b.superior.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.sc</key>
    <string>c.sc.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccedilla.sc</key>
    <string>ccedilla.sc.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.sc</key>
    <string>d.sc.glif</string>
    <key>d.superior</key>
    <string>d.superior.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_b.liga</key>
    <string>f_b.liga.glif</string>
    <key>f_f_b.liga</key>
    <string>f_f_b.liga.glif</string>
    <key>f_f_k.liga</key>
    <string>f_f_k.liga.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>o.superior</key>
    <string>o.superior.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.sc</key>
    <string>p.sc.glif</string>
    <key>p.superior</key>
    <string>p.superior.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>q.superior</key>
    <string>q.superior.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>thorn.sc</key>
    <string>thorn.sc.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tildecomb.loclVIT</key>
    <string>tildecomb.loclV_I_T_.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>uni00B3</key>
    <string>uni00B_3.glif</string>
    <key>uni0259.sc</key>
    <string>uni0259.sc.glif</string>
    <key>uni031B</key>
    <string>uni031B_.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni1EDF.sc</key>
    <string>uni1E_D_F_.sc.glif</string>
    <key>uni1EE1.sc</key>
    <string>uni1E_E_1.sc.glif</string>
    <key>uni2070</key>
    <string>uni2070.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2076</key>
    <string>uni2076.glif</string>
    <key>uni2078</key>
    <string>uni2078.glif</string>
    <key>uni2079</key>
    <string>uni2079.glif</string>
    <key>uni2126</key>
    <string>uni2126.glif</string>
    <key>uni2785</key>
    <string>uni2785.glif</string>
    <key>uni2788</key>
    <string>uni2788.glif</string>
    <key>uni278F</key>
    <string>uni278F_.glif</string>
    <key>uni2792</key>
    <string>uni2792.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zero.tosf.zero</key>
    <string>zero.tosf.zero.glif</string>
  </dict>
</plist>
