<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>uni031B</key>
    <string>uni031B_.glif</string>
    <key>uni1EDF.sc</key>
    <string>uni1E_D_F_.sc.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2076</key>
    <string>uni2076.glif</string>
    <key>uni2078</key>
    <string>uni2078.glif</string>
    <key>uni2079</key>
    <string>uni2079.glif</string>
    <key>uni2785</key>
    <string>uni2785.glif</string>
    <key>uni2788</key>
    <string>uni2788.glif</string>
    <key>uni278F</key>
    <string>uni278F_.glif</string>
    <key>uni2792</key>
    <string>uni2792.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
