<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.tosf</key>
    <string>E_uro.tosf.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.case</key>
    <string>acutecomb.case.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ae.sc</key>
    <string>ae.sc.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b.sc</key>
    <string>b.sc.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.tosf</key>
    <string>dollar.tosf.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.sc</key>
    <string>e.sc.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eng.sc</key>
    <string>eng.sc.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>eurosuperior</key>
    <string>eurosuperior.glif</string>
    <key>f.sc</key>
    <string>f.sc.glif</string>
    <key>f_f_k.liga</key>
    <string>f_f_k.liga.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.superior</key>
    <string>g.superior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hbar.sc</key>
    <string>hbar.sc.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>k.superior</key>
    <string>k.superior.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>oe.sc</key>
    <string>oe.sc.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslash.sc</key>
    <string>oslash.sc.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>s.superior</key>
    <string>s.superior.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.case</key>
    <string>tildecomb.case.glif</string>
    <key>tildecomb.loclVIT</key>
    <string>tildecomb.loclV_I_T_.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>uni018F</key>
    <string>uni018F_.glif</string>
    <key>uni0259.sc</key>
    <string>uni0259.sc.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0302.case</key>
    <string>uni0302.case.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0306.case</key>
    <string>uni0306.case.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni031B</key>
    <string>uni031B_.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni1EDF.sc</key>
    <string>uni1E_D_F_.sc.glif</string>
    <key>uni2074</key>
    <string>uni2074.glif</string>
    <key>uni2076</key>
    <string>uni2076.glif</string>
    <key>uni2077</key>
    <string>uni2077.glif</string>
    <key>uni2078</key>
    <string>uni2078.glif</string>
    <key>uni2079</key>
    <string>uni2079.glif</string>
    <key>uni20A6</key>
    <string>uni20A_6.glif</string>
    <key>uni20A9</key>
    <string>uni20A_9.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BC</key>
    <string>uni20B_C_.glif</string>
    <key>uni20BD</key>
    <string>uni20B_D_.glif</string>
    <key>uni2117</key>
    <string>uni2117.glif</string>
    <key>uni2120</key>
    <string>uni2120.glif</string>
    <key>uni2126</key>
    <string>uni2126.glif</string>
    <key>uni2783</key>
    <string>uni2783.glif</string>
    <key>uni2785</key>
    <string>uni2785.glif</string>
    <key>uni2788</key>
    <string>uni2788.glif</string>
    <key>uni278D</key>
    <string>uni278D_.glif</string>
    <key>uni278F</key>
    <string>uni278F_.glif</string>
    <key>uni2791</key>
    <string>uni2791.glif</string>
    <key>uni2792</key>
    <string>uni2792.glif</string>
    <key>uni27E8</key>
    <string>uni27E_8.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.sc</key>
    <string>y.sc.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.tosf</key>
    <string>yen.tosf.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zero.tosf.zero</key>
    <string>zero.tosf.zero.glif</string>
    <key>zero.zero</key>
    <string>zero.zero.glif</string>
  </dict>
</plist>
