<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Euro.tosf</key>
    <string>E_uro.tosf.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.tosf</key>
    <string>dollar.tosf.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.superior</key>
    <string>e.superior.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f_f_k.liga</key>
    <string>f_f_k.liga.glif</string>
    <key>f_k.liga</key>
    <string>f_k.liga.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.sc</key>
    <string>k.sc.glif</string>
    <key>k.superior</key>
    <string>k.superior.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>m.sc</key>
    <string>m.sc.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.sc</key>
    <string>o.sc.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohorn.sc</key>
    <string>ohorn.sc.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r.sc</key>
    <string>r.sc.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.sc</key>
    <string>s.sc.glif</string>
    <key>s.superior</key>
    <string>s.superior.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scedilla.sc</key>
    <string>scedilla.sc.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.loclVIT</key>
    <string>tildecomb.loclV_I_T_.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>uni018F</key>
    <string>uni018F_.glif</string>
    <key>uni0259</key>
    <string>uni0259.glif</string>
    <key>uni0259.sc</key>
    <string>uni0259.sc.glif</string>
    <key>uni0304</key>
    <string>uni0304.glif</string>
    <key>uni0304.case</key>
    <string>uni0304.case.glif</string>
    <key>uni031B</key>
    <string>uni031B_.glif</string>
    <key>uni031B.case</key>
    <string>uni031B_.case.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0328</key>
    <string>uni0328.glif</string>
    <key>uni1EDE</key>
    <string>uni1E_D_E_.glif</string>
    <key>uni1EDF.sc</key>
    <string>uni1E_D_F_.sc.glif</string>
    <key>uni1EE1</key>
    <string>uni1E_E_1.glif</string>
    <key>uni20A9</key>
    <string>uni20A_9.glif</string>
    <key>uni20AD</key>
    <string>uni20A_D_.glif</string>
    <key>uni20B1</key>
    <string>uni20B_1.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BC</key>
    <string>uni20B_C_.glif</string>
    <key>uni27E8</key>
    <string>uni27E_8.glif</string>
    <key>x.sc</key>
    <string>x.sc.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yen.tosf</key>
    <string>yen.tosf.glif</string>
    <key>z.sc</key>
    <string>z.sc.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zero.tosf.zero</key>
    <string>zero.tosf.zero.glif</string>
  </dict>
</plist>
